# Aktifkan URL Rewriting dan matikan listing folder
Options -Indexes
RewriteEngine On

# Base path project
RewriteBase /CendanaKargo/

# Hapus ekstensi .php dari URL
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [L]

# Redirect folder index.php ke root folder
RewriteRule ^(.*)/index$ /$1/ [R=301,L]

RewriteRule ^(components|config|templates)/ - [F,L]